@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Signika:wght@700&display=swap');

/* Variables */
$color-blue:#0097e6;
$color-green: #33d9b2;
$color-red: #ff5252;
$color-white: #ffffff;
$color-dark: #2c2c54;
$color-pink: #ff7675;

$family-font-signika: "Signika", sans-serif;
$family-font-inconsolata: "Inconsolata", monospace;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $family-font-inconsolata;
    color: $color-dark;
    background: $color-white;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 5%;
}

/* Navigation */

.navigation {
    background: $color-blue;
    padding: 12px 0; 
    
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        
        ul {
            display: none;
            position: absolute;
            background: white;
            left: 50%;
            transform: translateX(-50%);
            
            li {
                display: block;
                margin: 0 0 12px 0;
            }   
            
            a {
                color: $color-blue;
                display: block;
                padding: 0 24px;
                
                &:hover {
                    color: $color-green;
                }
            }
        }
    }
    
    li {
        display: inline-block;
        margin-right: 36px;
        position: relative;
        
        &:hover ul {
            display: block;
        }
    }
    
    a {
        text-decoration: none;
        color: $color-white;
        
        &:hover {
            color: $color-green;
        }
    }
}

/* Splash */

.splash {
    background: $color-blue;
    color: $color-white;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .splash-inner {
        margin: 0;
        max-width: 70%;
        
        .page-title {
            margin: 0; 
            font-size: 72px;
            word-spacing: -24px;
            font-weight: 700;
            line-height: 1.2;
            
            span {
                font-style: italic;
                font-size: 80px;
                word-spacing: -50px;
                font-family: $family-font-signika;
            }
        }
        
        .page-subtitle {
            margin: 24px 0;
            font-weight: 400;
            font-size: 16px;
        }
    }
}