@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Signika:wght@700&display=swap');

/* Variables */
$color-blue:#0097e6;
$color-green: #33d9b2;
$color-red: #ff5252;
$color-white: #ffffff;
$color-dark: #2c2c54;
$color-pink: #ff7675;

$family-font-signika: "Signika", sans-serif;
$family-font-inconsolata: "Inconsolata", monospace;

$transition: all 2s;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $family-font-inconsolata;
    color: $color-dark;
    background: $color-white;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 5%;
}

section {
    padding: 96px 0;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    
    &:hover {
        background-position: 0 100%;
        color: $color-white;
    }
}

.btn-one {
    color: $color-white;
    border-color: $color-white;
    background-image: linear-gradient(90deg, $color-white 50%, $color-blue 50%);
        
    &:hover {
        color: $color-blue;
    }
}

.section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
}

.article-title {
    font-size: 24px;
    margin: 0 0 12px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Navigation */

.navigation {
    background: $color-blue;
    padding: 12px 0; 
    
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        
        ul {
            display: none;
            position: absolute;
            background: white;
            left: 50%;
            transform: translateX(-50%);
            
            li {
                display: block;
                margin: 0 0 12px 0;
            }   
            
            a {
                color: $color-blue;
                display: block;
                padding: 0 24px;
                
                &:hover {
                    color: $color-green;
                }
            }
        }
    }
    
    li {
        display: inline-block;
        margin-right: 36px;
        position: relative;
        
        &:hover ul {
            display: block;
        }
    }
    
    a {
        text-decoration: none;
        color: $color-white;
        
        &:hover {
            color: $color-green;
        }
    }
}

/* Splash */

.splash {
    background: $color-blue;
    color: $color-white;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .splash-inner {
        margin: 0;
        max-width: 70%;
        
        .page-title {
            margin: 0; 
            font-size: 72px;
            word-spacing: -24px;
            font-weight: 700;
            line-height: 1.2;
            
            span {
                font-style: italic;
                font-size: 80px;
                word-spacing: -50px;
                font-family: $family-font-signika;
            }
        }
        
        .page-subtitle {
            margin: 24px 0;
            font-weight: 400;
            font-size: 16px;
        }
    }
}

/* Services */

.services-article {
    flex: 0 0 33.333%;
    position: relative;
    
    .article-content {
        height: 35vh;
        overflow-y: auto;
        padding: 10px;
        
         p:first-of-type {
            font-weight: bold;
        }
    
    }

    .article-number {
        position: absolute;
        top: -10%;
        font-size: 144px;
        line-height: 1;
        font-family: $family-font-signika;
        color: $color-blue;
        opacity: 0.2;
    }
    
    .btn-two {
        border-color: $color-green;
        background-image: linear-gradient(90deg, $color-green 50%, $color-white 50%);
        
        &:hover {
            
            color: $color-white;
        }
    }
    
    .btn-three {
        border-color: $color-red;
        background-image: linear-gradient(90deg, $color-red 50%, $color-white 50%);
        
        &:hover {
            color: $color-white;
        }
    }
    
    .btn-four {
        border-color: $color-blue;
        background-image: linear-gradient(90deg, $color-blue 50%, $color-white 50%);
        
        &:hover {
            color: $color-white;
        }
    }
}

/* Work */

.work-article {
    min-height: 300px;
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;
    
    .picture {
        position: relative;
        height: 100%;
        width: 250px;
        
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background: $color-green;
            position: absolute;
            left: 20px;
            top: 20px;
            opacity: 0.3;
            transition: $transition;
        }
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
        &:hover {
            
            &:after {
                left: 0;
                top: 0;
            }
        }
    }
    
    .picture-description {
        padding-left: 5%;
        
        p {
            padding: 0;
        }
        
        p:last-of-type {
            font-weight: bold;   
        }
    }
    
    .btn-five {
        border: none;
        text-align: left;
        margin: 36px 0;
        padding: 0;
        background: inherit;
        color: $color-green;
        
        &:hover {
            color: $color-blue;
        }
    }
}

/* Contact */

.contact {
    background: $color-blue;
    
    .section-title {
        color: $color-white;
    }
    
    form {
        flex: 2 0 0;
        padding-right: 96px;
        margin-left: 10%;
        
        input, textarea {
            width: 100%;
            padding: 15px;
            background: inherit;
            border: none;
            border-bottom: 3px solid $color-white;
            
            &::placeholder {
                color: $color-white;
            }
            
            &:focus {
                border: 5px solid $color-white;
            }
        }
    }
    
    .contact-data {
        flex: 1 0 0;
        color: $color-white;
        
        h4 {
            margin-bottom: 2px;
            padding: 0;
            font-size: 20px;
            line-height: 1.0;
        }
        
        p {
            padding: 0;
            margin: 0;
        }
    }
}

/* Footer */

footer {
    margin: 0;
    padding: 48px 0;
    
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            
            border: 2px solid $color-pink;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            line-height: 60px;
            padding-top: 10px;
            margin: 0 10px;
            background: $color-pink;
            transition: $transition;
            font-size: 0;
            
            
            i {
                
                height: 100%;
                width: 100%;
                font-size: 30px;
                text-align: center;
                color: $color-white;
                
            }
            
            &:hover {
                scale: 1.2;
            }
        }
    }
}
